{% extends "rest_framework/admin.html" %}
{% load i18n admin_urls %}
{% block bootstrap_theme %}
<link rel="stylesheet" href="https://bootswatch.com/3/lumen/bootstrap.min.css" type="text/css">
{% endblock %}

{% block title %}Quarantine Camp Database{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/patient">
    {% trans 'Patient' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/nurse">
    {% trans 'Nurse' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/doctor">
    {% trans 'Doctor' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/staff">
    {% trans 'Staff' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/head">
    {% trans 'Head of Camp' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/patientcomo">
    {% trans 'Comobidity' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/symptom">
    {% trans 'Symptom' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/medication">
    {% trans 'Medication' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/medication-effect">
    {% trans 'Medication Effect' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/admitted">
    {% trans 'Admitted' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/receive-treatment">
    {% trans 'Treatment' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/test-information">
    {% trans 'Test Info' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/building">
    {% trans 'Building' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/room">
    {% trans 'Room' %}
</a>


<div style="display: inline-flex; margin: 10px;">
    <form onsubmit="return false;">
        <div class="form-group">
            <input type="number" class="form-control" id="patient-id" aria-describedby="patient-id"
                placeholder="Patient id">
            <button class="btn btn-primary" id="print-btn" rel="nofollow" style=" margin-top: 10px;" onclick="">
                {% trans 'Print Report' %}
            </button>
            <script>
                const button = document.getElementById('print-btn');

                button.addEventListener('click', async _ => {
                    const patientID = document.getElementById('patient-id')
                    console.log(patientID.value)
                    window.open(`https://www.w3schools.com/${patientID.value}`);

                })
            </script>
        </div>
    </form>

</div>
{% endblock %}