{% extends "rest_framework/api.html" %}
{% load i18n %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/patient">
    {% trans 'Patient' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/nurse">
    {% trans 'Nurse' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/doctor">
    {% trans 'Doctor' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/staff">
    {% trans 'Staff' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/head">
    {% trans 'Head of Camp' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/patientcomo">
    {% trans 'Comobidity' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/symptom">
    {% trans 'Symptom' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/medication">
    {% trans 'Medication' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/medication-effect">
    {% trans 'Medication Effect' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/admitted">
    {% trans 'Admitted' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/receive-treatment">
    {% trans 'Treatment' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/test-information">
    {% trans 'Test Info' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/building">
    {% trans 'Building' %}
</a>
<a class="navbar-brand" rel="nofollow" href="/room">
    {% trans 'Room' %}
</a>
{% endblock %}

{% block bootstrap_theme %}
<link rel="stylesheet" href="https://bootswatch.com/3/lumen/bootstrap.min.css" type="text/css">
<style>
    select {
        display: block;
        width: 350px;
        height: 50px;
        padding: 7px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
{% endblock %}